<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel ="javascript" href ="{% static 'forgpas.js' %}">

    <title>
           
         ABS Services Pvt Ltd
    </title>
    <link rel = "icon" href =  "{% static 'abs.png'%}" type = "image/x-icon"> 
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    
    <div class="container">
        <div class="col-md-10 offset-md-1 mt-5">

            <div class="jumbotron">
                <img src =" {% static 'abs.png'%}" alt ="image" height="70" width="70">
                    <h2> ABS Services Pvt Ltd </h2>

                {% block content %}

                {% endblock %}


            </div>
        </div>
    </div>


</body>

</html>