{% extends 'base.html'%}
{% block content %}
<br><br>
<h4> Employee List</h4>

<table class = "table tableborder">

<thead class ="border-bottom font-weight-bold">
        <tr>
                <td>Employee Name </td>
                <td>Email Id </td>
                <td>Edit </td>
                <td>Delete </td>
            </tr>
</thead>

<tbody>
    {% for emp in list %}
<tr>
<td>{{emp.name}} </td>
<td>{{emp.Emailid}} </td>
<td>
    <a href = "/edit/{{emp.id}}" class ="btn text-secondary px-0">
        <i class="fa fa-edit fa-lag"></i>
    </a>
</td>
<td>
        <a href ="/delete/{{emp.id}}" class ="btn text-secondary px-0">
            <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
</td>


</tr>

    {% endfor %}

</tbody>

</table>

{% endblock %}